.body {
    background-color: rgb(209, 209, 209);
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('./os.jpg'); */
    display: grid;
    place-items: center;
}

@media screen and (max-width: 300px) {
  
    .parent,
    .child,
    .body {
        max-width: 100%;
    }
}

.parent {
    margin-top: 55px;
    /* background-color: ; */
    height: 400px;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px 10px 10px 5px;
    display: grid;
    place-items: center; 
    margin-bottom: 2rem;  
}

.child {
    background-color: rgb(33, 37, 41);
    opacity: 80%;
    height: 390px;
    max-width: 390px;
    /* margin: 0% 10px; */
    border-radius: 10px;
    transition:  1s ease-in-out;
    display: grid;
    place-items: center;
    /* padding: 30px 30px 30px 30px ; */
}

.formedit {
    /* margin-top: 100px; */
    /* display: grid;
    /* align-content: stretch; */
    padding: 50px 50px ;
    place-items: center;
}



.text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: color 1s;
    color: antiquewhite;
    }

.parent:hover .child {
    background-color: rgba(167, 164, 170, 0.589);
    /* transform: translateX(100%); */
    }

.parent:hover .e1 {
    color: black;
}

.parent:hover .e1Entry {
    background-color: black;
    color: antiquewhite;
}

.parent:hover .e1Pass {
    background-color: black;
    color: antiquewhite;
}

.header {
    margin-top: 20px;
    color: rgb(80, 80, 80);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    padding: 5px 5px 5px 5px;
    display: grid;
    place-items: center;
}

.header-extra {
    margin-top: 20px;
    margin-bottom: 5px;
    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    /* padding-left: 35px; */
    padding: 5px 10px 5px 10px;
    /* margin-bottom: auto; */
}

.e1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    margin-right: 10px;
    transition: color 1s;
    margin-left: 10px;
}


.input-group-addon {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background: white;
    border: 1px none #ccc;
    border-radius: 100px;
    padding: 9px 10px;
    transition: background-color 1s, color 1s;
}

.btn-center{
    display: grid;
    place-content: center;
}

.btn-smb {
    margin-top: 20px;
    border: none #ccc;
    border-radius: 100px;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
    
}

.parent:hover .btn-smb {
    background-color: black;
    color: white;
}

.parent:hover .input-group-addon {
    background-color: black;
    color: white;
}

.e1Entry {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid: 1 0 auto;
    /* color: black; */
    border-color: antiquewhite;
    border-radius: 80px;
    border-style: hidden;
    margin-left: auto;
    padding: 10px 10px 10px 10px;
    transition: color 1s ease-in-out, background-color 1s;
    
}

.e1Pass {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid: 1 0 auto;
    /* color: black; */
    border-color: antiquewhite;
    border-radius: 80px;
    border-style: hidden;
    padding: 10px 10px 10px 10px;
    transition: color 1s ease-in-out, background-color 1s;
}
.alternate {
    display: grid;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .parent:hover .signinbtn {
    background-color: black;
    color: white;
} */

.signinbtn {
    border: none #ccc;
    border-radius: 100px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

.parent:hover .header2 {
    /* background-color: black; */
    color: black;
}

.header2 {
    font-size: large;
    color: rgb(0, 0, 0);
    transition: color 1s ease-in-out;
}
.empty {
    margin-bottom: 100px;
}

.posttemplate {
    color: rgb(33, 37, 41);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    cursor: text;
}

.post-button {
    border: none #ccc;
    border-radius: 100px;
    padding: 10px 10px;
    cursor: pointer;
    display: grid;
    justify-content: right;
    text-decoration: none;
}

#navbar {
    opacity: 81%;
    background-color: rgb(53, 65, 97);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    color: antiquewhite;
}