<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body">
    <div class="parent">
        <div class="child">
            <div class="header-extra">
                Sign in to BlogPost
            </div>
            <div class="formedit-signin">
                <form action="{{ url_for('welcome') }}">
                    <div class="email-entry">
                        <label class="e1" for="email">Username:</label>
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input placeholder="Enter Username" class="e1Entry" type="email">
                    </div>
                    </br>
                    <div class="pass-entry">
                        <label for="password" class="e1">Password:</label>
                        <input placeholder="Pick a Good Password" class="e1Pass" type="password">
                        <button id="smb" type="submit" class="btn-smb">Go</button>
                    </div>

                    <script>
                        document.getElementById('smb')
                        
                    </script>
                </form>
            </div>
        </div>
    </div>
</body>
</html>